section#principal{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
body{
    background-color: rgb(35, 35, 35);
    font-family: Sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
h1{
    background-image: linear-gradient(
        to right,
        orangered,
        orange,
        gold,
        lightgreen,
        cyan,
        dodgerblue,
        mediumpurple,
        hotpink,
        orangered
    );
    background-size: 110em;
}
h1{
    animation: animacion1 30s linear infinite;
}

@keyframes animacion1 {
    to {
        background-position: -2000em;
    }
}

h1{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputNombre {
    width: 80%;
}

article#comandos{
    border: 1px solid lightgray;	
    display: inline-block;
    min-height: 300px;
    vertical-align: top;
    width: 25%;
    color: white;
}

article#tablero{
    border: 1px solid lightblue;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width:50%; 
}
article#tablero input{
    font-size: 3em;
    height: 80px;
    width: 80px;
    margin: 10px;
}
input[type = "button"]#Iniciar{
    font-size: 0.8em;
    margin-top: 2em;
    padding: 0.7em;
}
input[type = "text"]{
    font-size: 1em;
    margin-top: 0.2em;
    padding: 0.1em;
}
label{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
.botonInicial{
    color:rgb(87, 87, 253);
    background-color: rgb(87, 87, 253);
}
.botonJugador1{
    color: whitesmoke;
    background-color: rgb(234, 48, 48);
}
.botonJugador2{
    color: whitesmoke;
    background-color: rgb(66, 210, 66);
}

@media screen and (max-width: 600px) {
    article#comandos{
        display: block;
        width: 80%;
    }
    article#tablero{
        display: block;
        width: 100%;
    }
}