section#principal{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

body{
    background-color: #272932;
    font-family: Sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    color: #5465FF;
    text-transform: uppercase;
    font-weight: bold;
}

.inputNombre {
    width: 80%;
    color: black;
    font-weight: bold;
}

article#comandos{
    border: 1px solid lightgray;	
    display: inline-block;
    min-height: 300px;
    vertical-align: top;
    width: 25%;
    color: #5465FF;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}
article#tablero{
    border: 1px solid lightblue;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width:50%; 
}
article#tablero input{
    font-size: 3em;
    height: 80px;
    width: 80px;
    margin: 10px;
}
input[type = "button"]{
    border-radius: 10%;
}
input[type = "button"]#Iniciar{
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em;
    width: 80%;
    background-color: #0077b6;
    border: #0077b6;
    color: white;
    font-weight: bold;
}
input[type = "text"]{
    font-size: 1em;
    margin-top: 0.2em;
    padding: 0.1em;
}
label{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
.botonInicial{
    color:#340068;
    background-color: #340068;
}
.botonJugador1{
    color: whitesmoke;
    background-color: #A4243B;
}
.botonJugador2{
    color: whitesmoke;
    background-color: #034748;
}

@media screen and (max-width: 600px) {
    article#comandos{
        display: block;
        width: 80%;
    }
    article#tablero{
        display: block;
        width: 100%;
    }
}
img{
    margin-top: 3em;
    width: 20em;
    height: 20em;
}