section#principal{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}article#comandos{
    border: 1px solid lightgray;	
    display: inline-block;
    min-height: 300px;
    vertical-align: top;
    width: 25%;
}article#tablero{
    border: 1px solid lightblue;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width:50%; 
}
article#tablero input{
    font-size: 3em;
    height: 80px;
    width: 80px;
    margin: 10px;
}
input[type = "button"]#Iniciar{
    font-size: 0.8em;
    margin-top: 2em;
    padding: 0.7em;
}
input[type = "text"]{
    font-size: 1em;
    margin-top: 0.2em;
    padding: 0.1em;
    
}