<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Subida</servlet-name>
        <servlet-class>pruebas_articulo.SaveNombres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarNombres</servlet-name>
        <servlet-class>pruebas_articulo.MostrarNombres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNombres</servlet-name>
        <servlet-class>pruebas_articulo.UpdateNombres</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Subida</servlet-name>
        <url-pattern>/Subida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarNombres</servlet-name>
        <url-pattern>/MostrarNombres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNombres</servlet-name>
        <url-pattern>/UpdateNombres</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
